[submodule "xsilium-assets"]
	path = xsilium-assets
	url = https://github.com/xsilium-frameworks/xsilium-assets.git
[submodule "Library/Dependencies/SDL2"]
	path = Library/Dependencies/SDL2
	url = /home/xelfe/SDL2
